<!-- end	footer.. -->
		<div class="clear"></div>
		<div class="footer">
			<div class="contener">
				<div class="part1">
					<h1>Footer</h1>
					<p> You can schoole her You can schoole herYou can schoole herYou can schoole herYou can schoole herYou can schoole herYou can schoole herYou can schoole herYou can schoole herYou can schoole herYou can schoole herYou can schoole her 	 </p>
					<button>contact us</button>
				</div>
				<form>
					<input type="text" placeholder="text"/> <br/>
					<input type="email" placeholder="email"/> <br/>
					<textarea>enter text</textarea> <br/>
					<button>send</button>
				</form>
			</div>
		</div>
		<!-- end	footer.. -->
		<div class="end">
			<div class="menu">
			<div class="contener">
				<h2> Footer </h2>
					<ul>
					<li>Home</li>
					<li>Web</li>
					<li>courses</li>
				</ul>
			</div>
		</div>
		</div>